* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.app-container {
    background: #ffffff;
    width: 420px;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);

    animation: zoomIn 0.8s ease-out;
}


h1 {
    text-align: center;
    color: #333;
}

.subtitle {
    text-align: center;
    margin-bottom: 20px;
    color: #666;
    font-size: 14px;
}

.task-input {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task-input input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.task-input button {
    background: #667eea;
    border: none;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.task-input button:hover {
    background: #5a67d8;
}

ul {
    list-style: none;
}

li {
    background: #f5f6fa;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-text {
    font-size: 15px;
}

.status {
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 12px;
    margin-right: 10px;
}

.pending {
    background: #ffeaa7;
    color: #2d3436;
}

.completed {
    background: #55efc4;
    color: #065f46;
}

.complete-btn {
    background: #2ecc71;
    border: none;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
}

.complete-btn:disabled {
    background: #aaa;
    cursor: not-allowed;
}
@keyframes zoomIn {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
